h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 0px;
}
.row .row {
  margin-top: 0px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 3px 0px;
    text-decoration: none;
    line-height: 0;
}

li a.active {
    background-color: #555;
    color: white;
}

li a:hover:not(.active) {
    background-color: #AAA;
    color: white;
}

p {
    vertical-align: center;
}

.navtext {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
}
.text-center{
    font-size:20px;
}

a {
   color: #001b4d;
}
a:visited {
   color: #003597;
}
a:hover {
   color: #467ada;
}
a:active {
   color: #024dd9;
}

.gobutton {
    background-color: #888;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width: 30%
}

.gobutton:hover {background-color: #555;}

body {
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

div.pub {
  /* style this span element so we can display nicely, this stlying is not neccessary */
  margin: 10px 0;
  display: block;
  float: left;
}

input[type="radio"],
input[type="checkbox"] {
  /* hide the inputs */
  opacity: 0;
}

/* style your lables/button */
input[type="radio"] + label {
  cursor: pointer;
  padding: 4px 40px;
  border: 2px solid #ccc;
  background: #efefef;
  color: #333;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
  text-align: center;
}

input[type="radio"]:checked + label {
  background: #777;
  border: 2px solid #444;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  color: white;
}

.column {
  padding: 25px;
  float: left;
}
