<html>
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../static/insightDS.ico">


   <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet">

   <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

   <link href="../static/grid.css" rel="stylesheet">

   <title>AIgent</title>
   <script src="../static/js/ie-emulation-modes-warning.js"></script>
 </head>
 <body>
   <ul>
     <li><img src="../static/aigent.png" width="100%" height="15%"></li>
     <li><a href="/input">Home</a></li>
     <li><a class="active" href="/about">About</a></li>
     <li><a href="/slides">Slides</a></li>
   </ul>
   <div style="margin-left:25%;padding:1px 16px;height:1000px;">

    <h1>Hello, {{user.nickname}}!</h1>
  </div>
 </body>
</html>
