<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/insightDS.ico">


  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/grid.css" rel="stylesheet">

  <title>AIgent</title>
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../static/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <ul>
    <li><p/><img src="../static/aigent.png" width="100%" height="20%"></li>
    <li><a class="active" href="#"><p class="navtext">Home</p></a></li>
    <li><a href="/about"><p class="navtext">About</p></a></li>
    <li><a href="/slides"><p class="navtext">Slides</p></a></li>
  </ul>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">

  <br>
  <div class="container">

    <div class="grid">
      <p><h1> Find the right publisher </h1></p>
      <!-- <h2>Input Page</h2> -->
      <!-- <h3>Enter your blog post</h3> -->
    </div>
    <br>
    <div class = "container">

      <form  action="/output" method="GET">
        <div class="form-group">
          <!-- <label for="blogtext">Your text:</label> -->
          <!-- <input type="text" id="blogtext" name='blogtext' placeholder="e.g. "> -->
          <label for="blogtext"><strong>Enter your blog post here.</strong></label><br>
          <textarea name="blogtext" id="blogtext" rows="10" cols="70">The other day, I was struck by a quote I read. It was in a blog post about vulnerability by Adam Grant (Wharton professor and author of Originals). Here’s what he said:

    “Good communicators make themselves look smart. Great communicators make their audiences feel smart.”

It reminded me of the time I discovered, to my horror, that I write at an 8th grade reading level. This discovery led me to study the reading level of great writers (and also not so great ones), which in turn surprised me. Turns out the most popular writers tend to write at a lower reading level than the typical writer in her or his genre.

My conclusion was that this kind of writing is popular because, as my favorite professor in Journalism School put it, “Great writing speeds you along.” If you don’t have to look up words or think hard about what you’re reading, you turn pages faster and enjoy them more — even if you can read really high-level writing.

But Grant’s quote gave me pause. It added another dimension to my theory about popular writing. There’s a lot of really crappy, unenjoyable writing at low reading levels, too. So what makes the difference?

I think it’s this:

The worst thing you can possibly read is something that makes you feel dumb and is hard to get through. This means you’re either in way over your head or the author really hasn’t got a clue about his audience.

The second-worst, unless you’re reading something to a toddler, is writing that makes you say, “Ugh,” but at least doesn’t waste too much of your time.

Now, a lot of writing that makes us smarter, better people, is worth reading even though it’s difficult. Most of the textbooks I remember from college were this way. Piketty’s Capital in the 21st Century was this way for me. (Though admittedly I’m not an economist, so it may have been easier for his core audience to jibe.)

But when you look at writing that makes its way around the world — articles that go viral and books that break out — you’ll notice that they simultaneously make you feel smart and energized. They’re not a chore.

When I think about this kind of writing, I think about how every Malcolm Gladwell (8th grade reading level!) book gives me 25 things to talk about at the bar. I think about Sheryl Sandberg’s books and New York Times Op-Eds (7.5 grade), which make me see the world differently and hungry for more. I think about Jon Ronson (6.5) and J.K. Rowling (5.5) for the same reason. And I think about Ezra Klein’s and Nate Silver’s journalism, which breaks down really difficult material into writing and charts that are both easy and enlightening.

Even the few notable exceptions I can think of, like David Foster Wallace, whose beautiful prose is extraordinarily tedious, tend to fit into the above diagram. Wallace’s work is rewarding if you get through it. But if I had a dollar for every person who I knew who still had Infinite Jest on their nightstand with a bookmark around Page 10…

Even the best kids books fit into the top-right quadrant of the diagram. (Hello, Dr. Seuss!) Books that are easy to read while helping kids learn are extraordinarily satisfying. And it’s no surprise that they’re popular.</textarea>
        </div>

        <div>
          <button type="submit" class="btn gobutton" width="20"><strong>GO</strong></button>
        </div>

      </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
</div>
</body>
</html>
