<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/insightDS.ico" type="image/x-icon" />

    <title>AIgent</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/grid.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">// <![CDATA[
        function preloader(){
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        window.onload = preloader;
// ]]></script>
  </head>

  <body>
    <ul>
      <li><img src="../static/aigent.png" width="100%" height="15%"></li>
      <li><a href="/input">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/slides">Slides</a></li>
    </ul>
    <div style="margin-left:25%;padding:1px 16px;height:1000px;">

    <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../static/insightDS.ico" width="120" height="30" class="d-inline-block align-top" ></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav> -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AIgent</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
<br><br>

<div class="container">
    <div class="grid">
        <!-- <h2>Output Page</h2> -->
        <a href="/input"><h3>Enter a new blog post</h3></a>
    </div>

    <div class="container">
      <!-- Input a new post</a> -->
      <!-- <form  action="/output" method="GET">
        <div class="form-group">
          <label for="blogtext">Your text:</label>
          <input type="text" id="blogtext" name='blogtext' placeholder="e.g. ">
        </div>
        <div>
          <button type="submit" class="btn btn-default btn-lg">Find your channel</button>
        </div>
      </form> -->
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->

    <div class="container">
      <div class="grid">
        <div id="loading"></div>
        <!-- <h3>Results:</h3> -->
        <br><br>
        <p class="lead">Your recommended publishers</p>
      </div>
      <div id="content">

      <!-- <table class="table table-striped">
      <tr><th>channel</th><th>probability</th></tr>
      {% for rec in channel_rec %}
      <tr><td>{{ rec[0] }}</td><td>{{ rec[1] }}</td></tr>
      {% endfor %}
      </table> -->
      <div class="row">
        <div class="col-md-1"><p class="text-center" style="font-size:22px">Rank</p></div>
        <div class="col-md-2"><p class="text-center" style="font-size:22px">Publisher</p></div>
        <div class="col-md-4"><p class="text-center" style="font-size:22px">Recent Posts</p></div>
        <div class="col-md-2"><p class="text-center" style="font-size:22px">Common Tags</p></div>
        <div class="col-md-2"><p class="text-center" style="font-size:22px">Average Claps</p></div>
      </div>
      {% for chan in channel_rec %}
      <div class="row">
        <div class="col-md-1"><p class="text-center">{{ loop.index }}</p></div>
        <div class="col-md-2">
          <p class="text-center">
            <a href='https://www.medium.com/{{ chan[0][0][0] }}'>{{ chan[0][0][-1] }}</a>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            {% for pub in chan[0] %}
              <a href="{{ pub[2] }}">{{ pub[1]}}</a>
              <br><br>
            {% endfor %}
          </p>
        </div>
        <div class="col-md-2">
          <p class="text-center">
            <br>
            {% for tag in chan[1]%}
              {{ tag }}
              <br>
            {% endfor %}
          </p>
        </div>
        <div class="col-md-2">
          <p class="text-center">
            {{ chan[2] }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
   </div><!-- /.container -->

    <div class="container">
      <!-- <div class="starter-template">
        <h3>Another Result:</h3>
        <p class="lead">Now we've taken the input and called a function from your package.<br>The result is {{the_result}}</p>
      </div> -->


      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>


     </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</div>
  </body>
</html>
